body {
	background-color: #50585b;
}
form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90vw;
	text-align: left;
	margin: 0 0 40px 5vw;
	padding: 0;
}
table {
	border-collapse: collapse;
	width: 90vw;
	height: 35px;
	margin-left: 5vw;
	margin-bottom: 5px;
	background-color: #5c97aa;
}
tr {
	border: 2px solid black;
}

.App {
	text-align: center;
}

.song-row__item {
	width: 15vw;
	text-align: left;
	padding: 10px;
}

/* test hieronder */
