body {
	background-color: #50585b;
}
nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 10vh;
	background: rgb(73, 79, 82);
	color: white;
}
form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90vw;
	text-align: left;
	margin: 0 5vw 20px 5vw;
	padding: 20px 0 20px 0;
	border: 2px solid black;
	background-color: #5c97aa;
}
table {
	border-collapse: collapse;
	width: 90vw;
	height: 35px;
	margin-left: 5vw;
	margin-bottom: 5px;
	background-color: #5c97aa;
}
tr {
	border: 2px solid black;
}

.App {
	text-align: center;
}

.song-row__item {
	width: 15vw;
	text-align: left;
	padding: 10px;
}

.nav-links {
	width: 20%;
	display: flex;
	justify-content: space-around;
	align-items: left;
	list-style: none;
	color: white;
	text-decoration: none;
}
.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10vw;
	width: 80vw;
	text-align: center;
}
